/* app/globals.css */
@import "tailwindcss";

@theme {
  /* Mendaftarkan Font */
  --font-serif: var(--font-noto-serif), serif;
  --font-sans: var(--font-poppins), sans-serif;

  /* Mendaftarkan Warna dari Figma */
  --color-cssmora-blue: #0082c6;
  --color-cssmora-green: #79ba4e;
  --color-cssmora-darkgreen: #2a411b; /* Untuk teks di dalam badge hijau */
}

html {
  scroll-behavior: smooth;
}